
#bodyW{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:0.3rem;
}
#bodyM{
    display:grid;
    grid-template-rows:35vh 64vh;
    grid-gap:0.3rem;
}
.mainDiv{
    height:96vh;
    border:.0625rem solid black;
    border-radius: 0.625rem;
    padding:0.625rem;
}
.outDiv{
    display:grid;
    grid-template-rows:40vh 46vh;
}
#logDiv {
    display:grid;
    grid-template-rows:10vh 87vh;
}
.dateDiv{
    display:grid;
    grid-template-columns:7fr 1fr;
    border-radius: 0.625rem;
    margin:0.1rem;
    background-color: rgb(140, 151, 176);
}
#dataReg{
    border-radius: 0.625rem;
    margin:0.1rem;
    background-color: rgb(140, 151, 176);
}
h3, h5,h6, h4{
    text-align:center;
}
h6 {
    margin:1rem;
}

.selected{
    padding: top 2em;;
    background-color: beige;
}
.outLog{
    display:grid;
    grid-template-rows:1fr 1fr;
    
}
.outLogTableDiv{
    /* overflow-y: scroll; */
    border:.0625rem double black;
    border-radius: 0.625rem;
    margin:0.1rem;
}
th{
    position:sticky;
    top:0;
    background-color: black;
    color: white;
    font-size: normal;
    border-radius:0.2rem;
}
.thH{
    border:0rem;
    padding:0rem;
}
td{
    font-size:normal;
    text-align: center;
    text-overflow:scroll;
    /* overflow: hidden; */
    white-space: nowrap;
}
table{
    width:100%;
    table-layout: fixed;
}
.outLogTitle{
    border-radius: 0.625rem;
    margin:0.1rem;
    display:grid;
    grid-template-rows: 3vh 16vh;
}
.outTitle{
    overflow-y:scroll;
    background-color: rgb(140, 151, 176);
}

.outTitle::-webkit-scrollbar {
    background-color:ivory;
    border-radius: 0.2rem;
    width:0.7rem;
}
#outPreTableDiv ,#outCompleteTableDiv{
    /* overflow-y:scroll; */
    border:.0625rem double black;
    border-radius: 0.625rem;
    margin:0.1rem;
    height:100%;
    /* display:grid;
    grid-template-rows: 1fr 7fr; */
}
#dataDiv{
    display:grid;
    grid-template-rows:10vh 10vh 75vh;
}
#dataDivM{
    display:grid;
    grid-template-rows:5vh 25vh;
}
.pltPut .outTrClickData{
    display:grid;
    grid-template-rows:1fr 1fr;
}
.inPlt{
    width:100%;
}
.pop{
    display:none;
}
.hidden{
    display:none;
}
.btnPlt{
    height:85%;
    width:90%;
    font-size:0.7rem;
}
button{
    border-radius: 0.3rem;
    background-color: rgb(199, 212, 228);
}

